{% extends 'AppBundle::layout.html.twig' %} 

{% block content %}
<div id="list_client">
<div class="container">


<section class="col-sm-10">
 
<table class="mytable mytable-condensed mytable-bordered mytable-striped mytable-hover"> 
<thead class="thead-inverse">
<th>{{ 'list_client.firstname' | trans }}</th>
<th>{{ 'list_client.lastname' | trans }}</th>
<th>{{ 'list_client.email' | trans }}</th>
<th>{{ 'list_client.address'| trans }}</th>
<th>{{ 'list_client.city'| trans }}</th>
<th>{{ 'list_client.postalcode'|trans }}</th>
<th>{{ 'list_client.username'| trans }}</th>
<th>{{ 'list_client.lastlogin'| trans }}</th>
</thead>
<tbody>

{%  for client in clients %}
{%  if not client.enabled%} 
<tr class="danger">
{%  else %}
{% if client.last_login=='never' %}
<tr class="warning">
{% else %}
<tr class="active">
{% endif %}
{% endif %}
<td style="width:10%;"><a href="{{ path('editclient', {'id':client.id})}}">	{{ client.firstName }}</a> </td>
<td style="width:10%;"><a href="{{ path('editclient', {'id':client.id})}}">	{{ client.lastName }} </a></td>
<td style="width:10%;"><a href="{{ path('editclient', {'id':client.id})}}">	{{ client.email }}</a></td>
<td style="width:30%;"><a href="{{ path('editclient', {'id':client.id})}}">	{{ client.address }}</a></td>
<td style="width:10%;"><a href="{{ path('editclient', {'id':client.id})}}">	{{ client.city }}</a></td>
<td style="width:10%;"><a href="{{ path('editclient', {'id':client.id})}}">	{{ client.postalCode }}</a></td>
<td style="width:10%;"><a href="{{ path('editclient', {'id':client.id})}}">	{{ client.userName }}</a></td>
<td style="width:10%;"><a href="{{ path('editclient', {'id':client.id})}}">	{{ client.last_login}}</a></td>
</tr>

{% endfor %}
</tbody>
</table>
<p style="display:block; margin: 10px 0 0 0;"><p>
{{ knp_pagination_render(clients) }}
<div style=" clear: both; display: block; float: left; margin: 20px 0 0 0;">
<a href="{{ path('homepageAdmin') }}"> {{ 'rethome' | trans }} </a> 
</div>
</section>

</div> <!-- container -->
</div> <!-- list_client -->
{% endblock content%}
{% block footer %}{% endblock %}
{% block script%}
<script>
$( "#client-menu a" ).css({ "background":"#666" });
$( "#client-menu a" ).css({ "font-weight":"bold" });
</script>
{% endblock %}
