{% extends '::layout.html.twig' %} 
{% block appcss%}
        <link rel="stylesheet" href="{{ asset('css/slideshow.css') }}" type="text/css" media="all" />
{% block css %}{% endblock %}
{% endblock %}
{% block appscriptheader %}
       <script type="text/javascript" src="{{ asset('js/slideshow.js')}}"></script>
{% block scriptheader %}{% endblock %}
{% endblock %}
{% block appslideshow %}
{% block slideshow %}
	<div class="slideshow">
	<ul>
		<li><img src="{{ asset('images/slideshow/moto1.jpg')}}" alt="" /></li>
		<li><img src="{{ asset('images/slideshow/moto2.jpg')}}" alt="" /></li>
		<li><img src="{{ asset('images/slideshow/moto3.jpg')}}" alt="" /></li>
		<li><img src="{{ asset('images/slideshow/moto4.jpg')}}" alt="" /></li>
	</ul>
	</div>
{% endblock %}
{% endblock %}
{% block appheader  %}
    {% include "ClientBundle::connexion.html.twig" %}
				<div id="choisir-langue">
		            {{ "choose_langage" | trans}} :
					<a href="{{ path('userchooseLangage', {'langue' : 'fr'}) }}">FR</a> |
    				<a href="{{ path('userchooseLangage', {'langue' : 'en'}) }}">EN</a>	
         		</div> <!-- choisir-langue-->
         		<div id="panier">
         		<a href="{{ path('user_basket') }}">
         		{% if is_granted('ROLE_USER') %}
         		<img href="{{ path('user_basket') }}" src="{{ asset('images/panier-actif.png') }}"></img>
         		{% else %}
         		<img href="{{ path('user_basket') }}" src="{{ asset('images/panier.png') }}"></img>
         		{% endif %}
         		</a>
         		</div>
{% block header %}{% endblock %}
{% endblock %}
{% block appmenu %}
     <div id="client-menu">
	 			<ul>
		    			<li id="home-menu"><a href={{ path('homepage') }}>{{ "homepage"|trans}}</a></li>
		    			 <li id="shop-menu"><a href="{{ path('shop')}}">{{ "shop"|trans}}</a></li>
		    			<li id="product-menu"><a href="{{ path('user_product_homepage')}}">{{ "choose_product"|trans}}</a></li>
		    			<li id="client-menu"><a href="{{ path('getclient')}}">{{ "inscript"|trans}}</a></li>
		    			<li id="command-menu"><a href="{{ path('user_basket') }}">{{ "command"|trans}}</a></li>
		    		<!-- 	<li id="blog-menu"><a href="{# path('homepage')#}">{# "blog"|trans#}</a></li>  -->
		    			<li id="contact-menu"><a href="{{ path('contact')}}">{{ "contact"|trans}}</a></li>
		 		</ul>
	  </div> <!--  client-menu -->
{% block menu %}{% endblock %}
{% endblock %}
{% block appcontent %}
{% block content %}{% endblock %}
{% endblock %}
{% block appfooter %}
{% block footer %}
<div id="footer">
<div class="three-column">
<div class="sidebar-left">
<a href="#">Mentions légales</a>
</div>
<div class="center-content">
<a href="#">CGV</a>
</div>
<div class="sidebar-right">
<a hef="#">Qui sommes nous</a>
</div>
</div> <!-- three-column -->
</div> <!-- footer -->
{% endblock %}
{% endblock %}
{% block appscript%}
{% block script%}{% endblock %}
{% endblock %}

   

   
    
          
		 		
         