{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Product{% endblock %}

{% block content %}

<h1>{{ 'product_list' | trans }}</h1>
<div class="center">
<div class="img-small">
		<img  src="{{ images}}/{{category.image}}">
</div>
{{ category.name }}
</div>
<div class="container">
<section class="col-sm-12">
<p class="space"></p>

<table class="table-condensed list-image" style="width:80%;">
	<thead>
	<th style="text-align:center;">{{ 'product' | trans }}</th>
	<th style="text-align:center;">{{ 'description'|trans }}</th>
	<th style="text-align:center;">{{ 'disponibility'|trans }}</th>
	<th style="text-align:center;">{{ 'image'|trans }}</th>
	<th style="font-size: 10px;"><img src={{ asset('images/modify.png') }} style="width: 10px;"/>&nbsp;{{ 'modify'|trans }}<br/>
	<img src={{ asset('images/delete.png') }} style="width:10px;"/>&nbsp;{{ 'delete'|trans }}
	</th>
    </thead>
    <tbody>
	{% for type in products %}
	<tr>
	<td style="width:20%;">{{ type.name }}</td>
	<td style="width:45%; padding-left: 30px;">{{ type.description }}</td>
	<td style="width:5%; padding-left: 30px;">{{ type.disponibility }}</td>
	<td class="img-thumb" style="width:15%; padding-left: 30px;">
	{% if type.image %}<img src="{{ images }}/{{ type.image }}"/>
	{% else %}
	<img style="height:50px;" src="{{ images }}/'blank.png'"/>
	{% endif %}
	
	<td class="image" ><img src={{ asset('images/modify.png') }}  onclick="modify('{{ path('product_modify', { 'id':type.id }) }}')"/>
	<img src={{ asset('images/delete.png') }}  onclick="del('{{ path('product_delete', { 'id': type.id }) }}')"/></td>
	</tr>
	{% else %}
	<p>{{ 'no_product' | trans }}</p>
	{% endfor %}
	</tbody>	
</table>	

</section>
</div> <!-- container -->
{{ knp_pagination_render(products) }}
<p class="space"></p>
<p class="space"></p>
<div style="display: block;float:left;">
 	<a href="{{ path('product_add', {})}}">{{ 'add_product' | trans }}</a>
<p class="space"></p> 
 	<a href="{{ path('product_category', {})}}">{{ 'product_category_list' | trans }}</a> 
</div>


{% endblock content %}
{% block script %}
<script>
$( "#product-menu a" ).css({ "background":"#666" });
$( "#product-menu a" ).css({ "font-weight":"bold" });

function modify(path){
    var val=path;
    
	document.location.href=path;
}

function del(path){

	if(confirm('Etes vous sur de vouloir effacer cette série ?')){
		document.location.href=path
    }
}
</script>
{% endblock script %}
	