{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Product{% endblock %}

{% block content %}

<h1>{{ 'product_homepage' | trans }}</h1>
<form action="{{ path('product_set')}}" method="POST">
<h3>Vous pouvez choisir un produit...</h3>
<p class="space"></p>
<h4>Par type de produit:</h4>
<p class="space"></p>

{% include 'AppBundle:Category:chooseCategory.html.twig' %}
<p class="space" style="clear:both;"></p>
<h4>Par modèle:</h4>

{%  include 'AppBundle:Model:chooseModel.html.twig' %}


<div onclick="submit()">
<button >{{ 'record'|trans }}</button>
</div>
</form>
<div onclick="addProduct()">
<button >{{ 'Ajouter un produit'|trans }}</button>
</div>
{% endblock content %}		
{% block script %}
<script>
$( "#product-menu a" ).css({ "background":"#666" });
$( "#product-menu a" ).css({ "font-weight":"bold" });


function submit(){

	document.location.replace="{{ path('product_set')}}";
	return false;
}

function addProduct(){

	document.location.href="{{ path('product_add')}}";
	return false;
}
</script>
{% endblock script %}	