{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Product{% endblock %}

{% block content %}

<h1>{{ 'product_result' | trans }}</h1>
<div class="container">
<section class="col-sm-12">
<p>
On a trouvé {{ count }} produits correspondants à votre recherche:
</p>
<p>
Type de produit: {{ category }}
</p>
<p>
Modèle: {{ model }}
</p>

<table class="table-condensed list-image" style="width:100%;">
	<thead>
	<th style="text-align:center;">{{ 'product' | trans }}</th>
	<th style="text-align:center;">{{ 'description'|trans }}</th>
		<th style="text-align:center;">{{ 'disponibility'|trans }}</th>
	<th style="text-align:center;">{{ 'image'|trans }}</th>
	<th style="font-size: 10px;">
	<img src={{ asset('images/modify.png') }} style="width: 10px;"/>&nbsp;{{ 'modify'|trans }}</td>
	<img src={{ asset('images/delete.png') }} style="width:10px;"/>&nbsp;{{ 'delete'|trans }}
	</th>
    </thead>
</theader>
<tbody>
{% for type in products %}
<tr>
	<td style="width:20%;">{{ type.name }}</td>
	<td style="width:45%%; padding-left: 30px;">{{ type.description }}</td>
	<td style="width:5%; padding-left: 30px;"> {{ type.disponibility }}</td>
	
	<td class="img-thumb" style="width:15%; padding-left: 30px;">
	{% if type.image %}
	<img src="{{ images }}/{{ type.image }}"/>
	{% else %}
	<img style="height:50px;" src="{{ images }}/blank.png"/>
	{% endif %}
	</td>
	<td class="image" >
	<img src={{ asset('images/modify.png') }}  onclick="modify('{{ path('product_modify', { 'id':type.id }) }}')"/>
	<img src={{ asset('images/delete.png') }}  onclick="del('{{ path('product_delete', { 'id': type.id }) }}')"/></td>
	</tr>
	
	{% else %}
	<p>{{ 'no_product' | trans }}</p>
	{% endfor %}
</tbody>
</table>
<p class="space"></p>
<form action="{{ path('product_add')}}">
<button> {{ 'add_product'|trans }}</button>
</form>
<p class="space"></p>
<form action="{{ path('product_homepage') }}">
<button >{{ 'rethome'|trans }}</button>
</form>
</section>
</div> <!-- container -->
{% endblock content %}		
{% block script %}
<script>
$( "#product-menu a" ).css({ "background":"#666" });
$( "#product-menu a" ).css({ "font-weight":"bold" });

function modify(path){
    var val=path;
    
	document.location.href=path;
}

function del(path){

	if(confirm('Etes vous sur de vouloir effacer cette série ?')){
		document.location.href=path
    }
}
</script>
{% endblock script %}	