{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}
<H1>{{ title | trans }}</H1>
{% if contact.client %}
Cet utilisateur est enregistré sur le site
{% endif %}
<form action="{{ path('editcontact',{'id':contact.id})}}" method="post">
<table>
<tr>
<td>
<label for="name">{{ 'name'|trans}}</label>
<input id="name" value="{{ contact.name }}" />
</td>
</tr>
<tr>
<td>
<label for="email">{{ 'email'|trans}}</label>
<input id="email" value="{{ contact.email }}" />
</td>
</tr>
<tr>
<td>
<label for="phone">{{ 'phone'|trans}}</label>
<input id="phone" value="{{ contact.phone }}" />
</td>
</tr>
<tr>
<td>
<label for="subject">{{ 'subject'|trans}}</label>
<input id="subject" value="{{ contact.subject }}" />
</td>
</tr>
<tr>
<td>
<label for="body">{{ 'body'|trans}}</label>
<textarea rows="4" cols="50">{{ contact.body }} </textarea>
</td>
</tr>
<tr>
<td>
<label for="validate"> {{ 'validate'|trans }}</label>
<div onclick="validate()">
{% if contact.validate %}
	<input type="checkbox" id="validate" checked="checked"/>
{% else %}
	<input type="checkbox" id="validate"/>
{% endif %}	
</div>
</td>
</tr>
<tr>
<td>
<input type="submit" value="{{ 'record' | trans }}"/>
</td>
</tr>
</table>
</form>

<a href="{{ return }}">{{'returnlist' | trans}}</a>

{% endblock content %}
{% block script %}
<script>

$( "#contact-menu a" ).css({ "background":"#666" });
$( "#contact-menu a" ).css({ "font-weight":"bold" });

function validate(){

	var val=document.getElementById("validate");
	var valeur;
	
	if(val.checked){
		valeur="1";
	}
	else {
		valeur="0";
	}
	var DATA="validate="+valeur;
	$.ajax({
		type: "POST",
		url: "{{ path('editcontact',{'id':contact.id})}}",
		data: DATA,
		cache: false,
		success: function(data){
		     
	 	        }
	});		
}

</script>
{% endblock script %}