{% extends 'AppBundle::layout.html.twig' %} 


{% block content %}
<div id="list_contact">

 <div class="container">
 <section class="col-sm-10">
 
<table class="mytable mytable-condensed mytable-bordered mytable-striped mytable-hover"> 
<thead class="thead-inverse">
<th>{{ 'list_contact.name' | trans }}</th>
<th>{{ 'list_contact.email' | trans }}</th>
<th>{{ 'list_contact.phone' | trans }} </th>
<th>{{ 'list_contact.subject' | trans }}</th>
<th>{{ 'list_contact.date'| trans }}</th>
</thead>
<tbody>

{%  for contact in contacts %}
{%  if contact.old%} 
<tr class="danger">
{%  else %}
{% if contact.client %}
<tr class="warning">
{% else %}
<tr class="active">
{% endif %}
{% endif %}
<td style="width:20%; text-align:center;">  <a href="{{ path('editcontact', {'id':contact.id})}}">{{ contact.name}} </a></td>
<td style="width:20%; text-align: center;"> <a href="{{ path('editcontact', {'id':contact.id})}}">{{ contact.email}} </a></td>
<td style="width:15%; text-align: center;"> <a href="{{ path('editcontact', {'id':contact.id})}}">{{ contact.phone }} </a></td>
<td style="width:25%;"> {{ contact.subject}}<a href="{{ path('editcontact', {'id':contact.id})}}"> </a></td>
<td style="width:20%; text-align:center;">  <a href="{{ path('editcontact', {'id':contact.id})}}">{{ contact.date |localizeddate('short')}}</a> </td>
</tr>
{%else%}
		<p> {{ 'nocontact' | trans }}</p>
			
{% endfor %}
</tbody>
</table>
<p style="display:block; margin: 10px 0 0 0;"><p>
{{ knp_pagination_render(contacts) }}
<div style=" clear: both; display: block; float: left; margin: 20px 0 0 0;">
<a href="{{ path('homepageAdmin') }}"> {{ 'rethome' | trans }} </a> 
</div>
</section>
</div>  <!-- container -->

</div> <!-- list_contact -->
{% endblock content%}
{% block footer %}{% endblock %}
{% block script%}
<script>
$( "#contact-menu a" ).css({ "background":"#666" });
$( "#contact-menu a" ).css({ "font-weight":"bold" });
</script>
{% endblock script %}

