

{% block content %}

<div id="address">
<fieldset>
<h1>{{ title }}</h1>
{% if message %}
<p>{{ message }}</p>
{% endif %}

<table>
<tr>
</tr>
<tr>
	{{ form_label(form.address) }}<br/>
   {{ form_errors(form.address) }}
    {{ form_widget(form.address) }}<br/>
</tr>
<tr>    
  <td>  {{ form_row(form.city) }}</td><td>   {{ form_row(form.postalCode) }}</td>
</tr>
<tr>   
  <td> {{ form_row(form.phone) }}</td><td> {{ form_row(form.email) }}</td>
</tr>
</table>


</fieldset>
</div> <!--  address -->
{{ form_rest(form) }}


{% endblock %}
