{% extends 'ClientBundle::layout.html.twig' %}

{% block title %}lostPassword{% endblock %}

{% block content %}
<H1>{{ 'lost_password'|trans }} </H1>

<p>Bonjour</p>

<p>Vous ne retrouvez plus votre mot de passe. </p>
<p>Entrez la boîte aux lettres sur laquelle nous vous enverrons la procédure de récupération.</p>
 
{{ form_start(form) }}

{{ form_widget(form) }}

<input TYPE="submit"VALUE="{{ 'send'|trans }}">
{{ form_rest(form) }}
{{ form_end(form) }}


{% endblock content %}