{% extends '::layoutEmail.html.twig' %}

{% block subject %}{% endblock %}
{% block body %}
{% autoescape false %}
<img src="{{ url }}" alt="BMStation">
<p></p>
<p></p>
<h3>{{'welcome'|trans}}</h3>
<p></p>
<p></p>
Vous avez oublié votre mot de passe sur le site {{ site }}.
<p/>
<p/>Pour le réinitialiser, taper sur le lien suivant ou entrez le dans votre navigateur.
<p></p>
<a href="{{ urlvalidation }}">{{ urlvalidation }}</a>
</p></p>

{{ team }}
{% endautoescape %}
{% endblock body %}

