{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{% endblock %}

{% block content %}

<h1>{{ 'model_list'|trans}}</h1>

<form id="search_form" action="{{ path('model_search') }}" method="post">
	{{ form_widget(form) }}
	<input type="submit" value={{ "search" | trans}} />
</form>
<p class="space"><p>
<div id="resultats_recherche">  
{% include 'AppBundle:Model:list.html.twig' %}
</div>


<div style=" clear: both; display: block; float: left; margin: 20px 0 0 0;">	
	<a href="{{ path('model_add')}}">{{ 'add_model' | trans }}</a>

{% endblock content %}
{% block script %}

<script>

$("#search_form").submit(function(){ 
    var keyword = $("#modelsearch_keyword").val();
    var DATA = 'keyword=' + keyword;
    $.ajax({
        type: "POST",
        url: "{{ path('model_search')}}",
        data: DATA,
        cache: false,
        success: function(data){
           $('#resultats_recherche').html(data);
        }
    });    
    return false;
});

$( "#model-menu a" ).css({ "background":"#666" });
$( "#model-menu a" ).css({ "font-weight":"bold" });
</script>
{% endblock script %}