<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block apptitle %}BMStation{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"
  				integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  				crossorigin="anonymous" type="text/javascript"></script>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="all" />      

{% block appcss %}{% endblock %}
<!--         <script> function f2() {	alert('Fonction n°2');} window.onload = f2(); </script> -->    
 {% block appscriptheader %}{% endblock %}

    </head>
    <body>
        <div id="page">
            <div id="header">
          	    <div id="logo">
            		<img src="{{ asset('images/logo.png') }}" alt="BMStation"/>
            	</div>  <!--  logo -->
{% block appheader %} {% endblock %}
           </div> <!-- header -->   
          <div class="slideshow">   	
{% block appslideshow %}{% endblock %}  
          </div> <!-- slideshow -->
        
        <div id="menu">
{% block appmenu %}{% endblock%}
        </div>  <!-- menu -->
        
        <div id="content">
 {% for type, messages in app.session.flashBag.all %}
             <div id="flashbag">
             {% for message in messages %}
             	<div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}  
                </div> <!-- type -->
     	     {% endfor %}
     	    </div> <!-- flashbag --> 
        {% endfor %}        
{% block appcontent %}{% endblock %}

        </div> <!-- content -->
         <div id="footer">
{% block appfooter %}{% endblock %}
              Tous droits réservés © 2017
       	</div> <!-- footer -->
        </div> <!-- page -->
{% block appscript %}{% endblock %}
    </body>
</html>
