{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Model{% endblock %}

{% block content %}
<H1>{{ title }}</H1>




{{form_start(form)}}
<table>
<tr>
<tr>{{ form_label(form.series) }}<br/><tr>
{{ form_errors(form.series) }}
{{ form_widget(form.series)}}<br/>
</tr>
<tr>
{{ form_label(form.name) }}
{{ form_errors(form.name) }}
{{ form_widget(form.name)}}<br/>
</tr>
<tr>
{{ form_label(form.description) }}
{{ form_errors(form.description) }}
{{ form_widget(form.description)}}<br/>
</tr>
<tr>
{{ form_label(form.comment) }}
{{ form_errors(form.comment) }}
{{ form_widget(form.comment)}}<br/>
</tr>
</table>

<input type="submit"  value="{{ 'record' | trans}}"/>
{{ form_rest(form) }}
{{ form_end(form) }}
<a href="{{ path('model_list')}}">{{ 'model_list' | trans }}</a>
{% endblock %}
{% block script %}
<script>
$( "#model-menu a" ).css({ "background":"#666" });
$( "#model-menu a" ).css({ "font-weight":"bold" });
</script>
{% endblock script %}
