{% extends 'ClientBundle::layout.html.twig' %}

{% block title %}Summary{% endblock %}

{% block css %}
<style type="text/css">
	table {width:100%; border-collapse:collapse;}
	.header td { width:50%; vertical-align: top;}
	.text-left{text-align:left;}
	.text-right{text-align:right;}
	.text-center{text-align:center;}
	.separator{height:80px;width:100%; }
	.content{width:200mm;}
	.content td{border: solid 1px #cfd1d2; padding:5px;}
	.content th{border: solid 1px #000000; padding: 5px; background-color:#0377bf; color:white;}
</style>
{%  endblock css %}
{% block content %}

<h1>{{ 'basket' | trans }}</h1>
<div class="order order1">
<div class="container">
<section class="col-sm-12">

<table class="table-condensed table-bordered" style="width:80%;">
	<thead>
	<th style="text-align:center;">{{ 'order.designation' | trans }}</th>
	<th style="text-align:center;">{{ 'order.unit_price'|trans }}</th>
	<th style="text-align:center;">{{ 'order.quantité'|trans }}</th>
	<th style="text-align:center;">{{ 'order.total'|trans }}</th>
    </thead>
</thead>
<tbody>
{% set total=0 %}
{% for type in products %}
<tr>
	<td style="width:30%;">{{ type.name }}</td>
	<td  class="text-center" style="width:40%;">{{ type.price }} €</td>
	<td class="text-center" style="width:10%;">{{ type.command }}</td>
	<td class="text-center" style="width:10%;">{{ (type.price* type.command) |number_format(2,',',' ')}} €</td>
	{% set total=total+(type.price*type.command) %}
</tr>
	{% endfor %}
<tr>
			<td colspan="3" class="text-right"><b>TOTAL H.T.</b></td>
			<td class="text-right"><b>{{ total | number_format(2,',',' ') }} €</b></td>	
</tr>	
</tbody>
</table>

</form>
<p class="space"></p>
<div style="width:860px;">
<form action="{{ path('user_basket_get', {'id': basket.id}) }}">
<div style="float:left;">
<input type="submit" value="{{ 'order.back' | trans }}" />
</div>
</form>
<form action="{{ path('user_order_payment', {'id':basket.id}) }}">
<div style="float:right;">
<input type="submit" value="{{ 'order.after' | trans }}" />
</div>
</form>
</div> <!-- style -->
</section>
</div> <!-- container -->
</div> <!-- order -->
{% endblock content %}		
{% block script %}
<script>
$( "#command-menu a" ).css({ "background":"#666" });
$( "#command-menu a" ).css({ "font-weight":"bold" });
</script>
{% endblock script %}	