{% extends 'ClientBundle::layout.html.twig' %}

{% block title %}Contact{% endblock %}


{% block content %}
<div id="contact">
<div class="center">
<H1>{{  'contact' | trans }} </H1>
</div>
<div id="phone">
{{ 'phone'| trans }}: +(33) 4 93 89 68 71
</div>
<!-- <form action="{# path('contact') #}" method="post" > -->
{{ form_start(form, { 'class': 'myclass', 'action': path("contact") })}}
    
    {{ form_errors(form.name) }}
    {{ form_label(form.name)}}
    {{ form_widget(form.name) }}

    {{ form_errors(form.email) }}
    {{ form_label(form.email)}}
    {{ form_widget(form.email) }}
    
    {{ form_errors(form.phone) }}
    {{ form_label(form.phone)}}
    {{ form_widget(form.phone) }}

    {{ form_errors(form.subject) }}
    {{ form_label(form.subject)  }}
    {{ form_widget(form.subject) }}

    {{ form_errors(form.body) }}
    {{ form_label(form.body) }}
    {{ form_widget(form.body) }}

    
   <label for="leave" style="text-align: center; margin-left: -50px;">{{ 'leave' | trans }}</label> 
 <div onclick="leave()">  
   <input type="checkbox" id="leave" onclick="leave()"/>
 </div>    
<div id="contactCaptcha">    
    {{ form_errors(form.captcha) }}
    {{  form_label(form.captcha) }}
    {{ 'captcha_text' | trans }}<br/>
    {{ form_widget(form.captcha) }}
</div>    

<p></p>
  <input type="submit"  value="{{  'send'| trans }}"/> 
{{ form_rest(form) }}
{{ form_end(form) }}
<div class="space center">
</div>
</div> <!-- contact -->
<!-- 
<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
<div id='map' style='overflow:hidden;height:400px;width:600px;'>
<div id='gmap_canvas' style='height:400px;width:600px;'>
</div>
</div>
-->



<div><small><a href="http://embedgooglemaps.com">google maps carte</a></small></div>
<style>#gmap_canvas img{max-width:none!important;background:none!important}</style>


{% endblock content%}
{% block script %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhvyRc-T_JUckKXK15Ap1vVT6PY16Nbe4&callback=init_map"
	  type="text/javascript"></script>


<script type='text/javascript'>
function init_map(){
	var myOptions = {zoom:17,center:new google.maps.LatLng(43.69615680401557,7.286712613526561),mapTypeId: google.maps.MapTypeId.ROADMAP};
	map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
	marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(43.69615680401557,7.286712613526561)});
	infowindow = new google.maps.InfoWindow({content:'<strong>BMStation</strong><br>46, Bard de Stalingrad, Nice, France<br>'});
google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});
infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);
}
</script>

<script>
$( "#contact-menu a" ).css({ "background":"#666" });
$( "#contact-menu a" ).css({ "font-weight":"bold" });



function leave(){

	var leave=document.getElementById("leave");
    var result;
    
	if(leave.checked){
		result="1";
		}
	else
		{
		result="0";
		}
	var DATA='leave='+result;

	 $.ajax({
	        type: "POST",
	        url: "{{ path('contact')}}",
	        data: DATA,
	        cache: false,
	        success: function(data){
	
     	 }
   });  
}

</script>

{% endblock script %}