{% extends 'ClientBundle::layout.html.twig' %}

{% block title %}Contact{% endblock %}


{% block content %}
<div id="contact">
<div class="center">
<H1>{{  'contact' | trans }} </H1>
</div>
<div id="phone">
{{ 'phone'| trans }}: +(33) 4 93 89 68 71
</div>
<!-- <form action="{# path('contact') #}" method="post" > -->
{{ form_start(form, { 'class': 'myclass', 'action': path("contact") })}}
    
    {{ form_errors(form.name) }}
    {{ form_label(form.name)}}
    {{ form_widget(form.name) }}

    {{ form_errors(form.email) }}
    {{ form_label(form.email)}}
    {{ form_widget(form.email) }}
    
    {{ form_errors(form.phone) }}
    {{ form_label(form.phone)}}
    {{ form_widget(form.phone) }}

    {{ form_errors(form.subject) }}
    {{ form_label(form.subject)  }}
    {{ form_widget(form.subject) }}

    {{ form_errors(form.body) }}
    {{ form_label(form.body) }}
    {{ form_widget(form.body) }}

    
   <label for="leave" style="text-align: center; margin-left: -50px;">{{ 'leave' | trans }}</label> 
 <div onclick="leave()">  
   <input type="checkbox" id="leave" onclick="leave()"/>
 </div>    
<div id="contactCaptcha">    
    {{ form_errors(form.captcha) }}
    {{  form_label(form.captcha) }}
    {{ 'captcha_text' | trans }}<br/>
    {{ form_widget(form.captcha) }}
</div>    

<p></p>
  <input type="submit"  value="{{  'send'| trans }}"/> 
{{ form_rest(form) }}
{{ form_end(form) }}
<div class="space center">
</div>
</div> <!-- contact -->

{% endblock content%}
{% block script %}



<script>
$( "#contact-menu a" ).css({ "background":"#666" });
$( "#contact-menu a" ).css({ "font-weight":"bold" });



function leave(){

	var leave=document.getElementById("leave");
    var result;
    
	if(leave.checked){
		result="1";
		}
	else
		{
		result="0";
		}
	var DATA='leave='+result;

	 $.ajax({
	        type: "POST",
	        url: "{{ path('contact')}}",
	        data: DATA,
	        cache: false,
	        success: function(data){
	
     	 }
   });  
}

</script>

{% endblock script %}