{% extends 'ClientBundle::layout.html.twig' %}

{% block title %}homepage{% endblock %}

{% block content %}
<table style="width:100%">
<thead>
<th></th>
<th style="text-align:center;">{{ 'name' | trans }}</th>
<th style="text-align:center;">{{ 'description' | trans }}</th>
<th style=text-align:center;"> {{ 'price' | trans }} (euros) </th>
<th style="text-align:center;">{{ 'command' | trans }}</th>
</thead>
<tbody>
{% for product in products %}
<tr>

<td style="width:20%;" class="product img-thumb">
<a href="{{ images}}/{{product.image}}" target="_blanck">
				<img  src="{{ images}}/{{product.image}}">
</a>				
</td>
<td style="width:20%;">
{{ product.name }}
</td>
<td style="width:55%;">
{{ product.description }}
</td>
<td style="width:10%;text-align:right;">
{{ product.price }}
</td>
<td>
<input id="{{ product.id }}"style="margin-left: 40px;" type='checkbox'/>
</td>
</tr>
{% endfor %}
</tbody>
</table>
<p class="space"></p>
<button onclick='document.location.href="{{ path('homepage') }}"'>{{ 'return' | trans }}</button>
<button onclick="submit()">{{ 'command'|trans }}</button>

{% endblock %}		
{% block script %}
<script>
$( "#home-menu a" ).css({ "background":"#666" });
$( "#home-menu a" ).css({ "font-weight":"bold" });

</script>
{% endblock script %}