{% block content %}
<div id='series>'
<form action="#" method="post" id="demoForm" class="demoForm">
    <fieldset>
		<select name="drop1" id="Select1" size="25" multiple="multiple" style="width: 300px">
        {%for m in models%}
    		<option  value="{{ m.id }}">{{ m.name }}</option>
        {%endfor%}
		</select>
		<input type="submit" onclick="getModels()" value="{{ 'userchoosemodel' | trans}}" />  
	</fieldset>
</form>		

</div>
{% endblock content %}
{% block script %}
<script>
$( "#model-menu a" ).css({ "background":"#666" });
$( "#model-menu a" ).css({ "font-weight":"bold" });



function getModel(){
	    var selectBox = document.getElementById("Select1");
	    var model = selectBox.options[selectBox.selectedIndex].value;
	alert(model);    
    ajax(model);
    	 
  }    

function getModels() {
    var model = [], opt;
    var sel = document.getElementById("Select1");
    
    // loop through options in select list
    for (var i=0, len=sel.options.length; i<len; i++) {
        opt = sel.options[i];
        
        // check if selected
        if ( opt.selected ) {
            // add to array of option elements to return from this function
            model.push(opt.value);
            

        }
    }
  	ajax(model);
}
function ajax(model){
var DATA= 'model='+model;
$.ajax({
       type: "POST",
       url: "{{ path('usermodel')}}",
       data: DATA,
       cache: false,
       success: function(data){
        	        }
});  
  window.location.href ="{{path('userbasket')}}";
  return false;
}	 

</script>
{% endblock script %}