{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Product{% endblock %}

{% block content %}
<H1>{{ title | trans }}</H1>

<form action="{{ path('adminsetclient', {'id':client.id}) }}" method="post">
<table>
<tr>
<td>
<label for="firstName">{{ 'firstname'|trans}}</label>
<input id="firstName" value="{{ client.firstName }}" />
</td>
<td>
<label for="lastName">{{ 'lastname'|trans}}</label>
<input id="lastName" value="{{ client.lastName }}" />
</td>
</tr>
<tr>
<td>
<label for="address">{{ 'address'|trans}}</label>
<input id="address" value="{{ client.deliveryAddress.address }}" />
</td>
</tr>
<tr>
<td>
<label for="city">{{ 'security.city'|trans}}</label>
<input id="city" value="{{ client.deliveryAddress.city }}" />
</td>
<td>
<label for="postalCode">{{ 'postalcode'|trans}}</label>
<input id="postalCode" value="{{ client.deliveryAddress.postalCode }}" />
</td>
</tr>
<tr>
<td>
<label for="email">{{ 'email'|trans}}</label>
<input id="email" value="{{ client.deliveryAddress.email }}" />
</td>

<td>
<label for="phone">{{ 'phone'|trans}}</label>
<input id="phone" value="{{ client.deliveryAddress.phone }}" />
</td>
</tr>
<tr>
<td>
<label for="last_login">{{ 'security.last_login'|trans}}</label>
<input id="last_login" readonly value="{{ client.user.last_login|trans }}" />
</td>
<td>
<label for="username">{{ 'username'|trans}}</label>
<input id="username" readonly value="{{ client.user.username }}"
</td>
{{ 'security.passwordnotprovided'| trans }}

</tr>
<tr>
<td>
<label for="enabled">{{ 'security.enabled'|trans}}</label>
{% if client.user.enabled %}
<input type="checkbox" id="enabled" checked="checked" />
{% else %}
<input type="checkbox" id="enabled"/>
{% endif %}
</td>
</tr>
</table>
<div id="submit" onclick="submit()">
<input type="submit" onclick="submit()" value="{{ 'record' | trans}}"/>
</div>
<input type="reset" id="reset" value="{{ 'reset'| trans }}"/>

</form>


<input type="button" onclick="sure()" id="deleteclient" value="{{ 'deleteclient'|trans }}"/>
<p class="clear space"/>
<input type="button" onclick="historic()" id="historic" value="{{ 'historic'|trans }}"/>
<a href="{{ return }}"> {{ 'returnlist'|trans }}<a>
{% endblock content %}
{% block script%}
<script>
$( "#client-menu a" ).css({ "background":"#666" });
$( "#client-menu a" ).css({ "font-weight":"bold" });


function submit(){
var firstName=document.getElementById("firstName").value;
var lastName=document.getElementById("lastName").value;
var address=document.getElementById("address").value;
var city=document.getElementById("city").value;
var postalCode=document.getElementById("postalCode").value;
var phone=document.getElementById("phone").value;
var username=document.getElementById("username").value;
var last_login=document.getElementById("last_login").value;
var email=document.getElementById("email").value;
var en=document.getElementById("enabled");
var enabled;

if(en.checked){
	enabled="1";
	}
else {
	enabled="0";
}
var DATA="client=-firstName["+firstName+"],lastName["+lastName+"],address["+address+"],city["+city+"],postalCode["+postalCode+"],email["+email+"],phone["+phone+"],username["+username+"],last_login["+last_login+"],enabled["+enabled+"]";
//var Data="a:9:{s:9:\"firstName\";s:"+firstName.length+":\""+firstName+"\";s:8:\"lastName\";s:"+lastName.length+":\""+lastName+"\";s:7:\"address\";s:"+address.length+":\""+address+"\";s:4:\"city\";s:"+city.length+":\""+city+"\";
//s:10:\"postalCode\";s:"+postalCode.length+":\"""+postalCode+"\";s:5:\"email\";s:"+email.length+":\""+email+"\";s:5:\"phone\";s:"+phone.length+":\""+phone+"\";s:8:\"username\";s:"+username.length+":\""+username+"\";s:7:\"enabled\";s:1:\""+enabled+"\";}"
//var encoded=window.btoa(Data);
//var DATA="client="+encoded;
               
                
$.ajax({
	type: "POST",
	url: "{{ path('adminsetclient',{'id':client.id})}}",
	data: DATA,
	cache: false,
	success: function(data){
	     
 	        }
});		

}


function sure(){
	if (confirm("Vous désirez effacer le client?"))
		 {
		  // Action à entreprendre.
		  // Code ou appel de fonction
 		  document.location.href="{{ path('deleteclient', {'id':client.id})}}";
		  return true;
		}
	else{
		
		return false;
		}
}

function historic(){
	document.location.href="{{ path('historicclient', {'id':client.id}) }}";
}
</script>
{% endblock script %}
