{% extends 'AppBundle::layout.html.twig' %} 



{% block content %}
<div id="list_client">
<div class="container">


<section class="col-sm-8">
 
<table class="mytable mytable-condensed mytable-bordered mytable-striped mytable-hover"> 
<thead class="thead-inverse">
<th>{{ 'historic.type' | trans }}</th>
<th>{{ 'historic.id' | trans }} </th>
<th>{{ 'historic.date' | trans }}</th>
</thead>
<tbody>

<tr>
{%  for line in lines %}
{% if line.eventid == line.client.id %}
<td style="widt:50%;">{{ line.type }}</td>
<td style="widt:10%;"></td>
<td style="widt:40%;">{{ line.date | localizeddate('short') }}</td>
{% else %}
<td style="width:50%;"><a href="{{ path('edithistoricline', {'id':line.id})}}">	{{ line.type }}</a> </td>
<td style="widt:10%;"><a href="{{ path('edithistoricline', {'id':line.id})}}">	{{ line.eventid }}</a> </td>
<td style="width:40%;"><a href="{{ path('edithistoricline', {'id':line.id})}}">	{{ line.date | localizeddate('short') }} </a></td>
{% endif %}
</tr>
{% endfor %}
</tbody>
</table>

<p style="display:block; margin: 10px 0 0 0;"><p>
{{ knp_pagination_render(lines) }}
<div style=" clear: both; display: block; float: left; margin: 20px 0 0 0;">
<a href="{{ path('homepageAdmin') }}"> {{ 'rethome' | trans }} </a> 
</div>
</section>

</div> <!-- container -->
</div> <!-- list_client -->
{% endblock content%}
{% block footer %}{% endblock %}
{% block script%}
<script>
$( "#client-menu a" ).css({ "background":"#666" });
$( "#client-menu a" ).css({ "font-weight":"bold" });
</script
{% endblock %}
