{% extends 'ClientBundle::layout.html.twig' %}

{% block title %}homepage{% endblock %}    
{% block scriptheader %}
    <!-- le jquery est chargé par le layout principal -->
    <script src="{{ asset('bundles/bnbcupload/js/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('bundles/bnbcupload/js/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('bundles/bnbcupload/js/jquery.fileupload.js') }}"></script>
    <script src="{{ asset('bundles/bnbcupload/js/init.js') }}"></script>
{% endblock %}
{% block content %}
    <div id="annonce">
        <h1>{{'Déposer une annonce'| trans}}</h1>
        {{ form_start(form, {'action': path('set_annonce'), 'method': 'POST', 'attr':{ 'id': 'annonce_form'} }) }} 

         <div id="div_annonce_identifier">
            {{ form_errors(form.identifier) }}
            {{ form_label(form.identifier) }}
            {{ form_widget(form.identifier) }}
        </div>
        <div id="div_annonce_name">
            {{ form_errors(form.name) }}
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div id="div_annonce_shortdesc">
            {{ form_errors(form.shortdesc) }}
            {{ form_label(form.shortdesc) }}
            {{ form_widget(form.shortdesc) }}
        </div>
        <div id="div_annonce_longdesc">
            {{ form_errors(form.longdesc) }}
            {{ form_label(form.longdesc) }}
            {{ form_widget(form.longdesc) }}
        </div>
        <div id="div_annonce_price">
            {{ form_errors(form.price) }}
            {{ form_label(form.price) }}
            {{ form_widget(form.price) }}
        </div>
        <div id="div_annonce_emailt">
            {{ form_errors(form.email) }}
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
        </div>

        <div id="div_annonce_phone">
            {{ form_errors(form.phone) }}
            {{ form_label(form.phone) }}
            {{ form_widget(form.phone) }}
        </div>
        
  {{ form_rest(form) }}
  {{ form_end(form) }}
  
  
  <div id="photos">
        
        <div id="div_fileselect1">
            <input type="text" id="filetext1" style="display:none"/>
            <input type="file" id="fileselect1" name="fileselect1" style="display:none" onchange="getvalue('fileselect1')"/>
       
            <div id="filedrag1">
                <div class="img-thumb">
                    <div id="loading1"></div> <!-- loading1 -->
                        <div id="preview1">
                            <img  id="image1" {% if photo1 is defined and photo1 is not null%} src="{{photo1}}"{%endif%}>
                        </div> <!-- preview1 -->
                </div> <!-- img-thumb -->
            </div> <!-- filedrag1 -->
        
            <div id="submitbutton1" onclick="Init('1')">
                <button>Photo 1</button>
            </div>
        </div> <!-- div_fileselect1 -->
        
        
        <div id="div_fileselect2">
            <input type="text" id="filetext2" style="display:none"/>
            <input type="file" id="fileselect2" name="fileselect2" style="display:none" onchange="getvalue('fileselect2')"/>
       
            <div id="filedrag2">
                <div class="img-thumb">
                    <div id="loading2"></div> <!-- loading2 -->
                        <div id="preview2">
                            <img  id="image2"{% if photo2 is defined and photo2 is not null%} src="{{photo2}}"{%endif%}>
                        </div> <!-- preview2 -->
                </div> <!-- img-thumb -->
            </div> <!-- filedrag2 -->
        
            <div id="submitbutton2" onclick="Init('2')">
                <button>Photo 2</button>
            </div>
        </div> <!-- div_fileselect2 -->
        

        <div id="div_fileselect3">
            <input type="text" id="filetext3" style="display:none"/>
            <input type="file" id="fileselect3" name="fileselect3" style="display:none" onchange="getvalue('fileselect3')"/>
       
            <div id="filedrag3">
                <div class="img-thumb">
                    <div id="loading3"></div> <!-- loading3 -->
                        <div id="preview3">
                            <img  id="image3" {% if photo3 is defined and photo3 is  not null%} src="{{photo3}}"{%endif%} >
                        </div> <!-- preview3 -->
                </div> <!-- img-thumb -->
            </div> <!-- filedrag3 -->
        
            <div id="submitbutton3" onclick="Init('3')">
                 <button>Photo 3</button>
            </div>
        </div> <!-- div_fileselect3 -->
            <div id="messages1">
            </div>
  </div> <!-- photos -->
  <div style="display:block;clear:both;">    
        <input type="submit" id="submit" value="{{ 'record' | trans}}" onclick="submit()"/>
  </div>
      

        
        </div> <!-- annonce -->
    {% endblock %}		
    {% block script %}
        <script>
            $("#home-annonce a").css({"background": "#666"});
            $("#home-annonce a").css({"font-weight": "bold"});


        function submit() {
            document.getElementById('annonce_form').submit();
        }


            function $id(id) {
                return document.getElementById(id);
            }

            //
            // output information
            function Output(msg) {
                var m = $id("messages");
                m.innerHTML = msg + m.innerHTML;
            }

            var ID;
            //
            // initialize
            function Init(id) {

                ID = id;
                var fileselect = $id("fileselect" + id),
                        filedrag = $id("filedrag" + id),
                        divfileselect = $id("div_fileselect" + id),
                        submitbutton = $id("submitbutton" + id);

                // file select
                fileselect.addEventListener("change", FileSelectHandler, false);

                // is XHR2 available?
                var xhr = new XMLHttpRequest();
                if (xhr.upload) {
                    // file drop
                    filedrag.addEventListener("dragover", FileDragHover, false);
                    filedrag.addEventListener("dragleave", FileDragHover, false);
                    filedrag.addEventListener("drop", FileSelectHandler, false);
                    divfileselect.style.display = "block";
                    filedrag.style.border="2px dashed #F00";

                    // remove submit button
                    //submitbutton.style.display = "none";
                    getfile("fileselect"+id);

                }

            }

            // file drag hover
            function FileDragHover(e) {
                e.stopPropagation();
                e.preventDefault();
                e.target.className = (e.type == "dragover" ? "hover" : "");
            }

            // file selection
            function FileSelectHandler(e) {
                // cancel event and hover styling
                FileDragHover(e);

                // fetch FileList object
                var files = e.target.files || e.dataTransfer.files;

                // process all File objects
                var file = files[0];
     //           ParseFile(file);
                UploadFile(file);
            }






            function ParseFile(file) {
                var imageType = /^image\//;
                var preview = document.getElementById("preview"+ID);
                if (!imageType.test(file.type))
                    return false;

                var img = document.createElement("img");
                var old = document.getElementById("image"+ID);
                if (old)
                {
                    preview.removeChild(old);
                }

                img.file = file;
                img.setAttribute("id", "image"+ID);
                preview.appendChild(img);
                var reader = new FileReader();
                reader.onload = (function (aImg) {
                    return function (e) {
                        aImg.src = e.target.result;
                    };
                })(img);
                reader.readAsDataURL(file)



            }

    
            // upload JPEG files
            function UploadFile(file) {


                var xhr = new XMLHttpRequest();
                var loading="loading"+ID;
                var filedrag = $id("filedrag" + ID);
                
                var formData = new FormData();
                formData.append("photo", file);

               // file received/failed
		xhr.onreadystatechange = function(e) {
			if (xhr.readyState === 4) {
                            if(xhr.status == 200){
                            $id(loading).style.display = "none";
                            filedrag.style.border="2px dashed #555";
                            ParseFile(file);
                            var id=Number(ID);
                            id++;
                            if(id < 4){ Init(String(id));}
                        }
                        else
                        { 
                            $id(loading).style.background = "none";
                            $id(loading).style.display = "block";
                            $id(loading).style.color="red",
                            $id(loading).innerHTML="Error";   
                        }
                     }
		};

                // start upload	 
                $id(loading).style.display = "block";
                xhr.open("POST", "/upload_image/" + ID, true);
                xhr.setRequestHeader("encoding", "multipart/form-data");
                xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
                xhr.send(formData);



            
        }
function getfile(type){
	document.getElementById(type).click();
}

function getvalue(type) {
  //    document.getElementById('selectedfile'+ID).value=document.getElementById(type).value
      document.getElementById('selectedfile'+ID).style.display='inline';
  
} 


        </script>
    {% endblock script %}