{% extends 'ClientBundle::layout.html.twig' %}

{% block title %}homepage{% endblock %}
{% block scriptheader %}

{% endblock %}
{% block content %}
<div id="annonce">
{{ form_start(form, {'action': path('homepage'), 'method': 'POST'}) }} 


<div id="div_annonce_name">
{{ form_errors(form.name) }}
{{ form_label(form.name) }}
{{ form_widget(form.name) }}
</div>
<div id="div_annonce_shortdesc">
{{ form_errors(form.shortdesc) }}
{{ form_label(form.shortdesc) }}
{{ form_widget(form.shortdesc) }}
</div>
<div id="div_annonce_longdesc">
{{ form_errors(form.longdesc) }}
{{ form_label(form.longdesc) }}
{{ form_widget(form.longdesc) }}
</div>
<div id="div_annonce_typecontact">
{{ form_errors(form.typecontact) }}
{{ form_label(form.typecontact) }}
{{ form_widget(form.typecontact) }}
</div>

<div id="div_annonce_contact">
{{ form_errors(form.contact) }}
{{ form_label(form.contact) }}
{{ form_widget(form.contact) }}
</div>
<div id="div_annonce_visiblecontact">
{{ form_errors(form.visiblecontact) }}
{{ form_label(form.visiblecontact) }}
{{ form_widget(form.visiblecontact) }}
</div>


{{ form_rest(form) }}
<input type="submit" value="{{ 'record' | trans}}"/>

{{ form_end(form) }}

<div id="submitbutton1" onclick="Init('1')">
	<button>Photo 1</button>
</div>

<div id="div_fileselect1">
 <label for="filelselect1"style="margin-left:50px;">Photo 1</label>
<input type="text" id="filetext1" style="display:none"/>
<input type="file" id="fileselect1" name="fileselect1" style="display:none" onchange="getvalue('fileselect1')"/>
<input type="button" id="button1" value="{{ 'selectfile' | trans}}" onclick="getfile('fileselect1')" />
<div id="filedrag1">
<div class="img-thumb">
 <div id="preview">
      <img  id="image">
 </div> <!-- preview --
  </div> <!-- img-thumb --></div>
</div>



<div id="messages">
</div>

</div> <!-- annonce -->
{% endblock %}		
{% block script %}
<script>
$( "#home-annonce a" ).css({ "background":"#666" });
$( "#home-annonce a" ).css({ "font-weight":"bold" });





function $id(id) {
	return document.getElementById(id);
}

//
// output information
function Output(msg) {
	var m = $id("messages");
	m.innerHTML = msg + m.innerHTML;
}

var ID;
//
// initialize
function Init(id) {

	ID=id;
	var fileselect = $id("fileselect"+id),
		filedrag = $id("filedrag"+id),
		divfileselect=$id("div_fileselect"+id),
		submitbutton = $id("submitbutton"+id);
  
	// file select
	fileselect.addEventListener("change", FileSelectHandler, false);

	// is XHR2 available?
	var xhr = new XMLHttpRequest();
        if (xhr.upload) { 
		// file drop
		filedrag.addEventListener("dragover", FileDragHover, false);
		filedrag.addEventListener("dragleave", FileDragHover, false);
		filedrag.addEventListener("drop", FileSelectHandler, false);
		divfileselect.style.display = "block";
		
		// remove submit button
		submitbutton.style.display = "none";
	
	}

}

// file drag hover
function FileDragHover(e) {
	e.stopPropagation();
	e.preventDefault();
	e.target.className = (e.type == "dragover" ? "hover" : "");
}

// file selection
function FileSelectHandler(e) {
	// cancel event and hover styling
	FileDragHover(e);

	// fetch FileList object
	var files = e.target.files || e.dataTransfer.files;

	// process all File objects
	       var file=files[0];
			ParseFile(file);
			UploadFile(file);
	}

		




function ParseFile(file) {
	var imageType=/^image\//;
	var preview=document.getElementById("preview");
	if(!imageType.test(file.type))
		return false;
	
	var img=document.createElement("img");
	var old=document.getElementById("image");
	if(old)
		{
		preview.removeChild(old);
		}
	
	img.file=file;
	img.setAttribute("id", "image");
	preview.appendChild(img);
	var reader=new FileReader();
	reader.onload=(function(aImg) {return function(e){aImg.src=e.target.result;};})(img);
	reader.readAsDataURL(file)

	
   
}
// upload JPEG files
function UploadFile(file) {

	
		
		    var formData = new FormData();
		    formData.append("photo", file);

		    $.ajax({
		        type: "POST",
		        url: "/upload_image/1",
		        data: formData,
		        async: false,
		       contentType: "multipart/form-data",  
                success: function(data){
			  alert("de retour"+data);
		            $('#resultats_recherche').html(data);
	        	 }
	      });  
			    
	
		
}

function getfile(type){
	document.getElementById(type).click();
}

function getvalue(type){
	selectImage(type);
    // document.getElementById('selectedfile').value=document.getElementById(type).value
    //document.getElementById('selectedfile').style.display='inline';
  
} 


</script>
{% endblock script %}