{% extends 'ClientBundle::layout.html.twig' %}

{% block title %}list{% endblock %}

{% block content %}
<div class="container">
    <table style="width:80%;" class="table">
        <thead>
        <th></th>
        <th>{{'name'|trans}}</th>
        <th>{{'description'|trans}}</th>
        <th>{{'price'|trans}}</th>
        <th>{{'email'|trans}}</th>
        <th>{{'phone'|trans}}</th>
        </thead>
        <tbody>
        {% for annonce in annonces %}        
        <tr>
         
            <td> 
            <a href="{{path('user_annonce_modify',{'id':annonce.id})}}">    
            <div class="img-thumb">
                {% if annonce.photos is empty %}
                 <img src="{{directory}}/motorcycle.png"/>
                {%else%}
                 <img src="{{directory}}/{{annonce.photos[0].picture}}"/> 
                 {%endif%}
            </div>
            </a>
            </td>
            <td>
                <a href="{{path('user_annonce_modify',{'id':annonce.id})}}">
                {{annonce.name}}
                </a>
            </td>
            <td>
                <a href="{{path('user_annonce_modify',{'id':annonce.id})}}">
                {{annonce.shortdesc}}
                </a>
            </td>
            <td>
                <a href="{{path('user_annonce_modify',{'id':annonce.id})}}">
                {{annonce.price}}€
                </a>
            </td>
            <td>
                <a href="{{path('user_annonce_modify',{'id':annonce.id})}}">
                {{annonce.email}}
                </a>
            </td>
            <td>
                <a href="{{path('user_annonce_modify',{'id':annonce.id})}}">
                {{annonce.phone}}
                </a>
            </td>
        </tr>
        {% else %}
        <td><h3>Pas D'annonce<h3></td>
        {%endfor%}
        </tbody>
    </table>
        
        <button onclick="add()"> {{'annonce.add' | trans}}</button>  
</div>
{% endblock content %}
{% block script %}
<script>
$( "#blog-menu a" ).css({ "background":"#666" });
$( "#blog-menu a" ).css({ "font-weight":"bold" });

function add() {
    document.location.href="{{path('user_annonce')}}";
}
</script>
{% endblock script %}
{# empty Twig template #}
