{% extends 'ClientBundle::layout.html.twig' %}

{% block title %}newPassword{% endblock %}

{% block content %}
<H1>{{ 'new_password'|trans }} </H1>

{{ form_start(form, { 'action': path('passwordclient', {'token': token}), 'attr': { 'class': 'password' } }) }}
<p>
{{ form_errors(form.username) }}
{{ form_label(form.username) }}
{{ form_widget(form.username) }}
</p>
<p>
{{ form_errors(form.plainPassword.first) }}
{{ form_label(form.plainPassword.first) }}
{{ form_widget(form.plainPassword.first) }}
</p>
<p>
{{ form_errors(form.plainPassword.second) }}
{{ form_label(form.plainPassword.second) }}
{{ form_widget(form.plainPassword.second) }}
</p>


{{ form_rest(form) }}
<input TYPE="submit"VALUE="{{ 'send'|trans }}">

{{ form_end(form) }}



{% endblock content %}