<div id="product product-product">
<form  action="" method="post" id="product"  enctype="multipart/form-data">

<div id="series-name" onclick="selectSeries()">
<ul>
<label for "userSeriesModel_name_0">{{ 'all'|trans }}</label>
<input type="radio" id="userSeriesModel_name_0" name="userSeriesModel[name]" required="required" value="0" checked="checked" />
{% for ss in series %}  
<label for  "userSeriesModel_name_{{loop.index}}">{{ ss.name }}</label>
	<input type="radio" id="userSeriesModel_name_{{loop.index}}" name="userSeriesModel[name]" required="required" value="{{ ss.id }}"/>
{% endfor %}
</ul>
</div> <!--  series-name -->
<div id="product-model">
<div id="resultats_recherche">
<select id="select" multiple="false">

{% for mods in models %}
   	 <option value={{ mods.id}} id="{{mods.id}}"  onclick="selectModel('{{ mods.id }}')">  {{ mods.name }}</option> 

{% endfor %}

</select>
</div> <!--  resultats_recherche -->
</div> <!-- model -->
</div> <!--  product -->
<script>



function selectModel(id){

	var select=document.getElementById(id);
	if(select.selected){
		var DATA="models="+id;
		$.ajax({
        	type: "POST",
        	url: "{{ path('product_modelset')}}",
        	data: DATA,
        	cache: false,
        	success: function(data){
           
    	 	}
  	});  
	}
 return false;
}




function selectSeries(){
	 var serie=getCheckedRadioValue('userSeriesModel[name]');
	 var DATA= 'serie='+serie;

	 $.ajax({
	        type: "POST",
	        url: "{{ path('product_modelsearch')}}",
	        data: DATA,
	        cache: false,
	        success: function(data){
	            $('#resultats_recherche').html(data);
        	 }
      });  

	 return false;
    	 
  }    

function getCheckedRadioValue(name) {
    var elements = document.getElementsByName(name);

    for (var i=0, len=elements.length; i<len; ++i)
        if (elements[i].checked) return elements[i].value;
}

</script>
