{% extends 'ClientBundle::layout.html.twig' %}

{% block title %}homepage{% endblock %}

{% block content %}

<table style="width:100%">
<thead>
<th></th>
<th style="text-align:center;">{{ 'name' | trans }}</th>
<th style="text-align:center;">{{ 'description' | trans }}</th>
<th style=text-align:center;"> {{ 'price' | trans }} (euros) </th>
<th style="text-align:center;">{{ 'command' | trans }}</th>
</thead>
<tbody>
{% set new=1 %}
{% set promo=2 %}
{% for product in products %}
<tr>

<td style="width:20%;" class="product img-thumb">
<a href="{{ images}}/{{product.image}}" target="_blanck">
   <div style="background-image: url('{{ images}}/{{product.image}}');background-size: 70px 70px; background-repeat: no-repeat;min-height: 70px;"/>
   {% if product.promo == new %}
       <img  src="{{ asset('images/nouveau.png')}}" >
   {% endif %}
   {% if product.promo == promo %}
       <img  src="{{ asset('images/promotion.png')}}" >
   {% endif %}
   <div>
</a>				
</td>
<td style="width:20%;">
{{ product.name }}
</td>
<td style="width:55%;">
{{ product.description }}
</td>
<td style="width:10%;text-align:right;">
{{ product.price }}
</td>
<td>
<div onclick="select('{{ product.id }}')">
<input  onclick="select('{{ product.id }}')" id="{{ product.id }}" style="margin-left: 40px;" type='checkbox'/>
</div>
</td>
</tr>
{% endfor %}
</tbody>
</table>
<div onclick="submit()">
<button >{{ 'command'|trans }}</button>
</div>
<p class="space"></p>



<button onclick='document.location.href="{{ path('homepage') }}"'>{{ 'return' | trans }}</button>
{% endblock %}		
{% block script %}
<script>
$( "#home-menu a" ).css({ "background":"#666" });
$( "#home-menu a" ).css({ "font-weight":"bold" });

var products=[];

function select(path) {

    var val=document.getElementById(path);

    if(val.checked){
		products.push(path);
        }
    else{
        for (i=0, len=products.length; i<len;i++){
             if(products[i]==path){
                  products.splice(i,1);
                 }
                 
            }
        }
	
}
function submit(){
    $(".loading").show();
    $(".wait").show();
	 var DATA="products="+products;
$.ajaxSetup({async: false});
$.ajax({
	type: "POST",
	url: "{{ path('user_home_product_set')}}",
	data: DATA,
	cache: false,
	success: function(data){
 	        }
});		
$.ajaxSetup({async: true});	
	 $(".wait").hide();	
	 $(".loading").hide();
	 document.location.href="{{ path('user_home_basket_set') }}";
	return false;
}

        
</script>
{% endblock script %}