{% extends 'ClientBundle::layout.html.twig' %}

{% block title %}Model{% endblock %}


{% block content %}
<H1>{{  'basket' | trans }} </H1>
{% if message %}
<p>{{ message }}</p>
{% endif %}
Vous cherchez des pièces de:

{% for cc in category %}
{{ cc.name }}
{% else %}
Pas de categorie
{% endfor %}
<p></p>





{% for mm in models %}
    {%  if loop.first%}
        {% if loop.length > 1 %}
			pour les modèles suivants:
        {% else %}
				pour le modèle suivant:
           {% endif %}
    {% endif %}
{{ mm.name}}
{% if not loop.last%}
,
{% else %}
.
{% endif %}
{% endfor %}
<p></p>
<a href="{{ path('homepage', {})}}">{{ 'homepage' | trans }}</a> 
{% endblock %}
{% block script %}
<script>


</script>
{% endblock script %}	