{% block content %}
<div id="series-name" onclick="selectSeries()">

{% if series is defined %}
<ul>
<li>
<label for "userSeriesModel_name_0">{{ 'all'|trans }}</label>
<input type="radio" id="userSeriesModel_name_0" name="userSeriesModel[name]" required="required" value="0" checked="checked" />
</li>
{% for ss in series %}
	<li>
    <label for "userSeriesModel_name_{{loop.index}}">{{ ss.name }}</label>
	<input type="radio" id="userSeriesModel_name_{{loop.index}}" name="userSeriesModel[name]" required="required" value="{{ ss.id }}"/>
	</li>
{% endfor %}
</ul>
{% endif %}
</div>
<div id="resultats_recherche">  
		<select name="drop1" id="select" multiple="multiple" style="width: 300px">
    
  {% for mods in models %}
    	{% if mods.selected==true %}
		 <option value={{ mods.id}} id="{{mods.id}}" selected="selected" onclick="selectModel('{{ mods.id }}')">  {{ mods.name }} </option> 
         {% else %}
                 <option value={{ mods.id}} id="{{mods.id}}" onclick="selectModel('{{ mods.id }}')">  {{ mods.name }} </option> 
    	  {% endif%}
    {% endfor %}

        
		</select>

	
</div>
{% endblock content %}
{% block script %}

<script>
var model = []

function getModel(){
	    var selectBox = document.getElementById("select");
	    var model = selectBox.options[selectBox.selectedIndex].value;
	alert(model);    

    	 
  }    

function getModels() {
    
    var opt;
    var sel = document.getElementById("select");
    
    // loop through options in select list
    for (var i=0, len=sel.options.length; i<len; i++) {
        opt = sel.options[i];
        
        // check if selected
        if ( opt.selected ) {
            // add to array of option elements to return from this function
            model.push(opt.value);
            

        }
        
    }
	return false;
}



function selectSeries(){
	 var serie=getCheckedRadioValue('userSeriesModel[name]');
	 var DATA= 'serie='+serie;
	 $.ajax({
	        type: "POST",
	        url: "{{ path('user_product_modelsearch')}}",
	        data: DATA,
	        cache: false,
	        success: function(data){
	            $('#resultats_recherche').html(data);
	         	        }
	 });  
    return false;
    	 
  }    

function getCheckedRadioValue(name) {
    var elements = document.getElementsByName(name);

    for (var i=0, len=elements.length; i<len; ++i)
        if (elements[i].checked) return elements[i].value;
}


</script> 
{% endblock script %}  	