{% extends 'ClientBundle::layout.html.twig' %}

{% block title %}Summary{% endblock %}

{% block css %}
{%  endblock css %}
{% block content %}
<h3>Paiement</h3>
<div class="order order2">
<p class="space"></p>

<a href=""><img src="{{ asset('images/cb.jpeg') }}"></a>

<a href=""><img src="{{ asset('images/paypal.jpeg') }}"></a>
</div> <!-- order -->
<p class="space"></p>
<div style="width:860px;">
<form action="{{ path('user_order_summary', {'id': basket.id}) }}">
<div style="float:left;">
<input type="submit" value="{{ 'order.back' | trans }}" />
</div>
</form>
<form action="{{ path('user_order_bill', {'id': basket.id}) }}">
<div style="float:right;">
<input type="submit" value="{{ 'order.after' | trans }}" />
</div>
</form>
</div> <!-- style -->
{% endblock content %}		
{% block script %}
<script>
$( "#command-menu a" ).css({ "background":"#666" });
$( "#command-menu a" ).css({ "font-weight":"bold" });
</script>
{% endblock script %}	