{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Product{% endblock %}

{% block content %}
<H1>{{ title }}</H1>
{% if message %}
<p>{{ message }}</p>
{% endif %}

<form action="" method="post" {{ form_enctype(form) }}>

{{ form_widget(form) }}

<input type="submit"  value="{{ 'record' | trans}}"/>
</form>
<a href="{{ path('series_list')}}">{{ 'series_list' | trans }}</a>
{% endblock %}
{% block script %}
<script>
$( "#series-menu a" ).css({ "background":"#666" });
$( "#series-menu a" ).css({ "font-weight":"bold" });
</script>
{% endblock script %}