{% extends 'AppBundle::layout.html.twig' %}


{% block content %}

<h1>{{ 'series_list'|trans}}</h1>
<div class="container">
<table class="table-condensed list-image" style="width:80%;">
	<thead>
	<th style="text-align:center;">{{ 'name' | trans }}</th>
	<th style="text-align:center;">{{ 'comment'|trans }}</th>
	<th style="font-size: 10px;"><img src={{ asset('images/modify.png') }} style="width: 10px;"/>&nbsp;{{ 'modify'|trans }}<br/>
	<img src={{ asset('images/delete.png') }} style="width:10px;"/>&nbsp;{{ 'delete'|trans }}
    </th>
    </thead>
    <tbody>
	{% for serie in series %}
	<tr>
		<td style="width:10%;">{{ serie.name }}</td>
		<td style="width:55%;">{{ serie.comment }}</td>
		<td class="image" ><img src={{ asset('images/modify.png') }}  onclick="modify('{{ path('series_modify', { 'id': serie.id }) }}')"/>
	<img src={{ asset('images/delete.png') }}  onclick="del('{{ path('series_delete', { 'id': serie.id }) }}')"/></td>
	</tr>
     {% else %}
		<p>{{ 'no_series' | trans  }}</p>
	{% endfor %}	
	</tbody>
</table>		
</div>  <!-- container -->   
	<a href="{{ path('series_add')}}">{{ 'add_series' | trans }}</a>
{% endblock content %}		
{% block script %}
<script>
$( "#series-menu a" ).css({ "background":"#666" });
$( "#series-menu a" ).css({ "font-weight":"bold" });

function modify(path){
    var val=path;
    
	document.location.href=path;
}

function del(path){

	if(confirm('Etes vous sur de vouloir effacer ce produit ?')){
		document.location.href=path
    }
}
</script>
{% endblock script %}	