{% extends 'AppBundle::layout.html.twig' %}


{% block title %}{% endblock %}

{% block content %}
<H1>{{ title | trans }}</H1>

{{  form_start(form) }}

{{  form_widget(form) }}

<input type="submit" value="{{ 'record' | trans }}"/>
{{ form_end(form) }}

<a href="{{ path('homepageAdmin') }}">{{ 'rethome'| trans }}</a>
{% endblock content %}
{% block script%}
<script>
$( "#administration-menu a" ).css({ "background":"#666" });
$( "#administration-menu a" ).css({ "font-weight":"bold" });
</script>
{% endblock %}

