{% extends 'AppBundle::layout.html.twig' %} 

{% block content %}
<div id="list_admin">
<div class="container">


<section class="col-sm-10">
 
<table style="margin-left: 30%;" class="mytable mytable-condensed mytable-bordered mytable-striped mytable-hover"> 
<thead class="thead-inverse">

<th>{{ 'list_admin.username'| trans }}</th>
<th>{{ 'list_admin.email' | trans }}</th>
<th>{{ 'list_admin.lastlogin'| trans }}</th>
</thead>
<tbody>

{%  for admin in admins %}
{%  if not admin.enabled%} 
<tr class="danger">
{%  else %}
<tr class="active">
{% endif %}
<td><a href="{{ path('adminedit', {'id':admin.id})}}">	{{ admin.userName }}</a></td>
<td><a href="{{ path('adminedit', {'id':admin.id})}}">	{{ admin.email }}</a></td>
<td><a href="{{ path('adminedit', {'id':admin.id})}}">	{{ admin.lastLogin | localizeddate('short')}}</a></td>
</tr>

{% endfor %}
</tbody>
</table>
<p style="display:block; margin: 10px 0 0 0;"><p>
{{ knp_pagination_render(admins) }}
<div style=" clear: both; display: block; float: left; margin: 20px 0 0 0;">
<a href="{{ path('homepageAdmin') }}"> {{ 'rethome' | trans }} </a> 
</div>
</section>

</div> <!-- container -->
</div> <!-- list_admin -->
{% endblock content%}
{% block footer %}{% endblock %}
{% block script%}
<script>
$( "#administration-menu a" ).css({ "background":"#666" });
$( "#administration-menu a" ).css({ "font-weight":"bold" });
</script>
{% endblock %}
